<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table class='table' border="1">
    <tr>
        <th>Title</th>
        <th>Author Name</th>
        <th>Category</th>
        <th>Publisher</th>
        <th>Price</th>
    </tr>
   
    <% result.forEach(function(item){ %>
     <tr>
    <td><%= item.book_name %></td>
    <td><%= item.aut_name %></td>
    <td><%= item.cate_descrip %></td>
    <td><%= item.pub_name %></td>
    <td><%= item.purch_price %></td>
    </tr>
   <% }) %>
    
</table>
  </body>
</html>